#title {
	background-color: #404040;
}

h1 {
	font-family: 'Potta One', cursive;
	font-weight: bold;
	font-size: 4rem;
	line-height: 1.5;
	color: #088711;
}

.quote {
	font-family: 'Sriracha', cursive;
	font-weight: bold;
	font-size: 3rem;
	line-height: 1;
	color: white;
}

.Kasparov {
	font-family: 'Sriracha', cursive;
	font-weight: bold;
	font-size: 2rem;
	line-height: 2;
	color: white;
}

.container-fluid {
	padding: 3% 15%;
}